[Desktop Entry]

# The type of the thing this desktop file refers to (e.g. can be Link)
Type=Application

# The application name.
Name=Power Side Door

# Tooltip comment to show in menus.
Comment=Power Side Door model.

# The path (folder) in which the executable is run
Path=/opt/power_side_door

# The executable (can include arguments)
Exec=/opt/power_side_door/power_side_door

# The icon for the entry, using the name from `hicolor/scalable` without the extension.
# You can also use a full path to a file in /opt.
Icon=power_side_door